
.bcg {
    background: url('/assets/aptitudetestbg.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 50%;
    width: 100%;
}

.bottom-item {
  background-color: rgba(93, 92, 94, 0.8);
  border-color:black;
  border-style:solid;
  border-width:1px;
  height:10vh;
}

.grey-bar {
  background-color: rgba(70, 70, 70, 1);
  height:5vh;
}

.top-item {
  background-color: rgba(93, 92, 94, 0);
  border-color:black;
  border-style:solid;
  border-width:1px;
  height:10vh;
}

.menu-bottom {
  padding-top:90vh;
  margin-bottom:85vh;
}

.menu-top {
  position:fixed;
  width:100%;
}


